mm-checkbox {
  margin: 0; }

#mainTodo {
  border: 1px solid;
  color: #55ADF3;
  background: #FFFFFF;
  margin: auto;
  width: 700px;
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.18);
  border-radius: 4px;
  border-color: #C8C8C8;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  font-family: 'Arimo', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #333; }

#inputContainer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  padding: 15px;
  border-bottom: 1px solid;
  border-color: #C8C8C8; }

.left-checkbox {
  display: inline-block;
  width: 18px;
  margin-right: 10px;
  margin-top: 5px; }

.center {
  width: calc(100% - 118px);
  display: inline-block; }

.right-button {
  width: 80px;
  margin-left: 10px;
  display: inline-block; }

#itemContainer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  overflow: auto; }

#itemContainer1 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  overflow: auto;
  display: none; }

.iteminfo {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-bottom: 1px solid;
  border-color: #00CCFF;
  overflow: hidden;
  padding: 5px 15px;
  text-overflow: ellipsis; }
  .iteminfo:last-child {
    border-bottom: none; }
  .iteminfo .itemName {
    margin-left: 10px;
    margin-top: 5px;
    line-height: 15px;
    font-style: italic; }
  .iteminfo .completedItem {
    text-decoration: line-through; }

#appFooter {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  padding: 15px;
  width: 100%;
  border-top: 1px solid;
  background: #EEE;
  border-color: #C8C8C8; }

#itemsLeft {
  margin-top: 6px;
  display: inline-block; }

#footerActions {
  margin: 0 auto;
  display: inline-block;
  align: center;
  margin-top: 6px; }

#clearCompleted {
  display: inline-block; }

.itemsclose {
  display: none; }

.closeButton {
  float: right; }

#total {
  color: black; }

#leftItems {
  color: black;
  float: right; }

.iteminfo:hover .itemsclose {
  display: inline-block;
  float: right;
  margin-top: 2px; }

.iteminfo:hover {
  background: #FFFFCC; }
